* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #283048;
    background: linear-gradient(to right, #859398, #283048);
    padding: 20px; 
}

.container-carousel {
    position: relative;
    width: 100%;  /* Se ajusta a todo el ancho de la ventana */
    height: 70%; 
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-reflect: below -250px linear-gradient(transparent, transparent, rgba(4, 4, 4, 0.267));
}

.carruseles {
    width: 400%; /* 4 imágenes, por lo tanto 400% de ancho total */
    height: 100%;
    display: flex;
    transition: transform 0.6s ease; /* Transición suave para el desplazamiento */
}

.slider-section {
    width: calc(100% / 4); /* 25% del contenedor total para cada imagen */
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

/* ---- Subida de Imágenes -----*/

#imageContainer {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.uploaded-image {
    width: 150px;
    height: 150px;
    margin: 10px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 10px;
}

form {
    margin-top: 20px;
}
